<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<div class="container">
  <div class="menu">
    <div class="title" (click)="isactivityStream()" style="cursor: pointer">
      <img
        src="assets/logo.png"
        style="object-fit: cover"
        width="50px"
        height="50px"
      />
      <h1>OmniHub</h1>
    </div>
    <div class="search">
      <input
        style="margin-top: 3px"
        type="text"
        class="input"
        [(ngModel)]="searchText"
        placeholder="Search for a module..."
        (input)="search()"
      />
      <div class="searchIcon">
        <i
          class="fa fa-search"
          aria-hidden="true"
          style="font-size: 20px; margin-left: 10px"
          *ngIf="showModules"
        ></i>
        <i
          style="font-size: 20px; margin-left: 10px"
          class="fas fa-times"
          (click)="searchClose()"
          *ngIf="!showModules"
        ></i>
      </div>
    </div>
    <div
      *ngIf="showModules"
      style="
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <div class="module" *ngFor="let module of modules">
        <div class="moduleName">
          <b (click)="openModule(module)" style="cursor: pointer">{{
            module
          }}</b>
        </div>
        <div class="moduleIcons">
          <i
            *ngIf="activityData[0].module.includes(module)"
            class="fa fa-bell"
            aria-hidden="true"
            style="color: #c34ffd"
          ></i>
          <i
            *ngIf="!activityData[0].module.includes(module)"
            class="fa fa-bell"
            aria-hidden="true"
          ></i>
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <i
            class="fa fa-cog"
            aria-hidden="true"
            (click)="setButtonOpacityToOne()"
          ></i>
        </div>
      </div>
    </div>

    <div
      *ngIf="!showModules"
      style="
        width: 90%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #d5e2ff;
      "
    >
      <div *ngFor="let module of options" class="OptionalModule">
        <div class="OptionName">{{ module }}<br />Semester 2</div>
        <div class="add" (click)="add(module)">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- <button class="removeBtn" id="removeBtn">Remove</button> -->
  </div>
  <div class="content">
    <div class="headings">
      <div class="Options">
        <div class="Option" (click)="isactivityStream()">
          <i
            (click)="isactivityStream()"
            *ngIf="!activityStream"
            class="fa fa-clock"
            aria-hidden="true"
          ></i>
          <label (click)="isactivityStream()" *ngIf="!activityStream"
            >Activity Stream</label
          >
          <i
            *ngIf="activityStream"
            class="fa fa-clock"
            aria-hidden="true"
            style="color: #0572c0"
          ></i>
          <label *ngIf="activityStream" style="color: #0572c0"
            >Activity Stream</label
          >
        </div>
        <div class="Option" (click)="ismyChats()">
          <i
            (click)="ismyChats()"
            *ngIf="!myChats"
            class="fa fa-comment"
            aria-hidden="true"
          ></i>
          <label (click)="ismyChats()" *ngIf="!myChats">My Chats</label>
          <i
            *ngIf="myChats"
            class="fa fa-comment"
            aria-hidden="true"
            style="color: #0572c0"
          ></i>
          <label *ngIf="myChats" style="color: #0572c0">My Chats</label>
        </div>
        <div class="Option" (click)="ismySchedule()">
          <i
            (click)="ismySchedule()"
            *ngIf="!mySchedule"
            class="fa fa-calendar"
            aria-hidden="true"
          ></i>
          <label (click)="ismySchedule()" *ngIf="!mySchedule"
            >My Schedule</label
          >
          <i
            *ngIf="mySchedule"
            class="fa fa-calendar"
            aria-hidden="true"
            style="color: #0572c0"
          ></i>
          <label *ngIf="mySchedule" style="color: #0572c0">My Schedule</label>
        </div>
      </div>
      <!-- 
      <div class="Options" *ngIf="modulePage">
        <div class="moduleNameHeader">{{ moduleName }}</div>
        <div class="searchChatOuter">
          <div class="searchChat">
            <div class="searchChatContainer">
              <input
                type="text"
                class="searchChatInput"
                placeholder="Search chat or category..."
                (click)="openSearch()"
              />
              <div class="searchChatIconContainer">
                <div class="searchChatIcon">
                  <i
                    class="fas fa-search"
                    *ngIf="!showSearch && !showJob && !showMaterial"
                  ></i>
                  <i
                    class="fas fa-times"
                    (click)="closeSearch()"
                    *ngIf="showSearch || showJob || showMaterial"
                  ></i>
                </div>
              </div>
            </div>
            <div class="searchOptions" *ngIf="showSearch">
              <div class="searchOptionsContainer">
                <button class="searchFilter" (click)="openJob()">Jobs</button>
                <button class="searchFilter" (click)="openMaterial()">
                  Materials
                </button>
              </div>

              <div class="searchLine"></div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="Options" *ngIf="tutorPage">
        <div class="tutorNameHeader">{{ tutorName }}</div>
        <div class="tutorHeaderImg">
          <img class="tutorUserImg" src="{{ tutorUrl }}" />
        </div>
        <div class="tutorHeaderIcon">
          <i
            class="fas fa-graduation-cap"
            style="font-size: 16px; color: #c34ffd"
          ></i>
        </div>
      </div> -->

      <!-- <div class="Options" *ngIf="classPage">
        <div class="classNameHeader">{{ className }}</div>
        <div class="classImg">
          <img class="classUserImg" src="{{ classUrl }}" />
        </div>
      </div> -->
    </div>

    <div class="scrollable" (click)="setButtonOpacityToZero()">
      <div *ngIf="activityStream" class="Activity_container">
        <div class="TopicTitle"><b>Activity Stream</b></div>
        <div *ngFor="let day of activityData; let i = index">
          <div class="recordDay">
            <div class="icon"></div>
            <div class="border"></div>
            <div class="dayText" *ngIf="i === 0">
              Today, {{ day.date }}
              <div class="border2"></div>
            </div>
            <div class="dayText" *ngIf="i !== 0">
              {{ day.date }}
              <div class="border2"></div>
            </div>
          </div>
          <div *ngFor="let note of day.message; let k = index" class="record">
            <div class="icon">
              <div *ngIf="day.category[k] == 'notification'">
                <i class="fa fa-bell" aria-hidden="true"></i>
              </div>
              <div *ngIf="day.category[k] == 'message'">
                <i class="fa fa-comments" aria-hidden="true"></i>
              </div>
              <div
                *ngIf="
                  day.category[k] == 'tutor' || day.category[k] == 'material'
                "
              >
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <div *ngIf="day.category[k] == 'job'">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </div>
            </div>
            <div class="border"></div>
            <div class="recordText">
              <b>{{ day.name[k] }}</b> {{ note }} <br />
              <label>{{ day.time[k] }}</label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="myChats" class="Chat_container">
        <div class="TopicTitle"><b>Chats</b></div>
        <div class="border3"></div>
        <div *ngFor="let chat of chatList">
          <div class="chat" (click)="openClass(chat.name, chat.profilePicture)">
            <div class="profile">
              <img src="{{ chat.profilePicture }}" class="img" />
            </div>
            <div class="details">
              <div style="font-size: 16px; padding: 5px">
                <b>{{ chat.name }}</b>
              </div>
              <div style="font-size: 15px; padding: 5px">
                {{ chat.message }}
              </div>
            </div>
          </div>
          <div class="border4"></div>
        </div>
      </div>
      <div *ngIf="mySchedule" class="Schedule_container">
        <div class="TopicTitle2"><b>Schedule</b></div>
        <div class="border3"></div>
        <div class="days">
          <Label>Monday</Label>
          <Label>Tuesday</Label>
          <Label>Wednesday</Label>
          <Label>Thursday</Label>
          <Label>Friday</Label>
        </div>
        <div class="Calander">
          <div class="Day">
            <div *ngFor="let class of monday">
              <div class="class" *ngIf="class.module !== undefined">
                <div class="scheduleContainer">
                  <div class="scheduleInner">
                    <div class="scheduleClassName">{{ class.module }}</div>
                    <div class="scheduleClassTitle">{{ class.type }}</div>
                    <div class="scheduleClassLocation">{{ class.venue }}</div>
                    <div class="scheduleClassStartTime">
                      {{ class.startTime }}
                    </div>
                    <div class="scheduleClassEndTime">{{ class.endTime }}</div>
                    <div class="scheduleLine"></div>
                  </div>
                </div>
              </div>
              <div class="noclass" *ngIf="class.module === undefined"></div>
            </div>
          </div>
          <div class="Day">
            <div *ngFor="let class of tuesday">
              <div class="class" *ngIf="class.module !== undefined">
                <div class="scheduleContainer">
                  <div class="scheduleInner">
                    <div class="scheduleClassName">{{ class.module }}</div>
                    <div class="scheduleClassTitle">{{ class.type }}</div>
                    <div class="scheduleClassLocation">{{ class.venue }}</div>
                    <div class="scheduleClassStartTime">
                      {{ class.startTime }}
                    </div>
                    <div class="scheduleClassEndTime">{{ class.endTime }}</div>
                    <div class="scheduleLine"></div>
                  </div>
                </div>
              </div>
              <div class="noclass" *ngIf="class.module === undefined"></div>
            </div>
          </div>
          <div class="Day">
            <div *ngFor="let class of wednesday">
              <div class="class" *ngIf="class.module !== undefined">
                <div class="scheduleContainer">
                  <div class="scheduleInner">
                    <div class="scheduleClassName">{{ class.module }}</div>
                    <div class="scheduleClassTitle">{{ class.type }}</div>
                    <div class="scheduleClassLocation">{{ class.venue }}</div>
                    <div class="scheduleClassStartTime">
                      {{ class.startTime }}
                    </div>
                    <div class="scheduleClassEndTime">{{ class.endTime }}</div>
                    <div class="scheduleLine"></div>
                  </div>
                </div>
              </div>
              <div class="noclass" *ngIf="class.module === undefined"></div>
            </div>
          </div>
          <div class="Day">
            <div *ngFor="let class of thursday">
              <div class="class" *ngIf="class.module !== undefined">
                <div class="scheduleContainer">
                  <div class="scheduleInner">
                    <div class="scheduleClassName">{{ class.module }}</div>
                    <div class="scheduleClassTitle">{{ class.type }}</div>
                    <div class="scheduleClassLocation">{{ class.venue }}</div>
                    <div class="scheduleClassStartTime">
                      {{ class.startTime }}
                    </div>
                    <div class="scheduleClassEndTime">{{ class.endTime }}</div>
                    <div class="scheduleLine"></div>
                  </div>
                </div>
              </div>
              <div class="noclass" *ngIf="class.module === undefined"></div>
            </div>
          </div>
          <div class="Day" style="border-right: none">
            <div *ngFor="let class of friday">
              <div class="class" *ngIf="class.module !== undefined">
                <div class="scheduleContainer">
                  <div class="scheduleInner">
                    <div class="scheduleClassName">{{ class.module }}</div>
                    <div class="scheduleClassTitle">{{ class.type }}</div>
                    <div class="scheduleClassLocation">{{ class.venue }}</div>
                    <div class="scheduleClassStartTime">
                      {{ class.startTime }}
                    </div>
                    <div class="scheduleClassEndTime">{{ class.endTime }}</div>
                    <div class="scheduleLine"></div>
                  </div>
                </div>
              </div>
              <div class="noclass" *ngIf="class.module === undefined"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- ==========================================module page====================================== -->

      <div class="modulePage" *ngIf="modulePage">
        <div class="roomHeader" *ngIf="chatRoom">
          <div class="headerInfoContainer">
            <div class="fileContainer">
              <i
                style="
                  font-size: 40px;
                  color: #11507e;
                  cursor: pointer;
                  margin-top: 5px;
                "
                class="fas fa-file-alt roomFileIcon"
              ></i>
              <div class="roomtext">
                <div class="roomTitle">{{ chatrooms[roomId].name }}</div>
                <div class="roomFilename">{{ chatrooms[roomId].filename }}</div>
              </div>
            </div>
            <div class="loadIconsContainer">
              <i class="fas fa-download loadBtns" (click)="download()"></i>
              <!-- <i class="fas fa-upload loadBtns"></i> -->
            </div>
          </div>
          <div class="headerline"></div>
        </div>
        <div class="messages" *ngIf="chatRoom">
          <div class="messagesContainer">
            <!-- <div class="messageContainer2" *ngIf="!showSearch && showJob">
              <div class="messageImg">
                <img
                  class="userImg"
                  src="https://writestylesonline.com/wp-content/uploads/2018/11/Three-Statistics-That-Will-Make-You-Rethink-Your-Professional-Profile-Picture-1024x1024.jpg"
                />
              </div>

              <div class="messageName">Natasha Schwarts</div>
              <div class="messageText">
                <div class="jobOpps">
                  <a style="color: #0572c0; font-weight: 700"
                    >Job Opportunity:</a
                  >
                  SkyWard Software looking for new graduates for internships.
                  Apply at: https://skyward.com/grad-ops
                </div>
              </div>
              <div class="messageTime" style="margin-left: 50px">
                21/09/2023 10:17
              </div>
            </div> -->

            <!-- <div class="messageContainer2" *ngIf="!showSearch && showMaterial">
              <div class="messageImg">
                <img
                  class="userImg"
                  src="https://writestylesonline.com/wp-content/uploads/2018/11/Three-Statistics-That-Will-Make-You-Rethink-Your-Professional-Profile-Picture-1024x1024.jpg"
                />
              </div>

              <div class="messageName">Natasha Schwarts</div>
              <div class="messageText">
                <div class="jobOpps">
                  <a style="color: #0572c0; font-weight: 700"
                    >Material Posted:</a
                  >
                  2023 ST1 Past Papers
                </div>
                <i
                  style="
                    font-size: 26px;
                    color: #11507e;
                    cursor: pointer;
                    margin-top: 5px;
                  "
                  class="fas fa-file-alt"
                ></i>
              </div>
              <div class="messageTime" style="margin-left: 50px">
                12/09/2023 14:43
              </div>
            </div> -->
            <div *ngFor="let chat of moduleChat.messages">
              <div class="messageContainer2" *ngIf="!showJob && !showMaterial">
                <div>
                  <div class="messageImg">
                    <img
                      class="userImg"
                      src="{{ chat.profilePicture }}"
                      (click)="openClass(chat.from, chat.profilePicture)"
                    />
                  </div>

                  <div
                    style="cursor: pointer"
                    class="messageName"
                    (click)="openClass(chat.from, chat.profilePicture)"
                  >
                    {{ chat.from }}
                  </div>
                  <div class="messageText">
                    {{ chat.message }}
                  </div>
                  <div class="messageTime">{{ chat.date }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- message bar -->

        <div class="messageBar" *ngIf="chatRoom">
          <div class="messageBarInner"></div>
          <div class="messageIcons">
            <div class="messageIconInner"></div>
            <div class="messageIconContainer">
              <!-- <div class="messageIcon">
                <i
                  class="fas fa-plus-circle"
                  style="width: 19px; height: 19px; color: #00355c"
                ></i>
              </div> -->
              <div class="messageIcon">
                <i
                  class="fas fa-paper-plane"
                  style="width: 16.62px; height: 16.62px; color: #00355c"
                  (click)="sendModuleMessage()"
                ></i>
              </div>
            </div>
          </div>
          <input
            id="moduleMessage"
            type="text"
            class="messageInputText"
            placeholder="Message..."
          />
        </div>

        <!-- module chat rooms -->
        <!-- <button (click)="showPopup = true">Open Popup</button> -->

        <div class="chatroomspage">
          <div class="roomHeader" *ngIf="roomsPage">
            <div class="headerInfoContainerOpen">
              <div class="fileContainer Open" (click)="showPopup = true">
                <div class="roomTitleOpen">Open Discussion Room</div>
                <i
                  class="fas fa-plus-circle"
                  style="
                    width: 25px;
                    height: 25px;
                    color: #00355c;
                    font-size: 24px;
                    margin-left: 10px;
                    margin-top: 5px;
                  "
                ></i>
              </div>
            </div>
            <div class="headerlineOpen"></div>
          </div>
          <div class="chatroomContainer" *ngIf="roomsPage">
            <div class="popup" *ngIf="!showPopup">
              <div class="popup-content">
                <h2>
                  Discussion Room <br />
                  Information
                </h2>
                <div class="inputData">
                  <input
                    class="custom-input"
                    type="text"
                    placeholder="Room Name"
                  />
                  <input
                    class="custom-input"
                    type="text"
                    placeholder="Room Description"
                  />

                  <div class="file-input-container">
                    <input
                      type="file"
                      id="fileInput"
                      (change)="onFileSelected($event)"
                    />
                    <label for="fileInput" class="file-input-label">
                      <i class="fa fa-upload" style="margin-right: 8px;"></i> Upload File
                    </label>
                    <div class="selected-file-name">{{ selectedFileName }}</div>
                  </div>

                  <label>
                    <input
                      type="radio"
                      name="memo"
                      value="true"
                      [(ngModel)]="hasMemo"
                    />
                    Memo Included
                  </label>
                  <div>
                    <button
                      style="margin-right: 20px; background: #5e5e5e"
                      class="closeBtn"
                      (click)="showPopup = false"
                    >
                      Close
                    </button>
                    <button class="closeBtn" (click)="showPopup = false">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let moduleRoom of chatrooms">
              <div class="modulechatroom" (click)="openChatRoom(moduleRoom.id)">
                <div class="scheduleContainerModule">
                  <div class="scheduleInnerModule">
                    <div class="scheduleClassNameModule">
                      {{ moduleRoom.name }}
                    </div>
                    <!-- <div class="scheduleClassLocationModule">{{moduleRoom.description}}</div> -->
                    <i
                      style="
                        font-size: 26px;
                        color: #11507e;
                        cursor: pointer;
                        margin-top: 5px;
                      "
                      class="fas fa-file-alt fileIcon"
                    ></i>
                    <button *ngIf="moduleRoom.memo" class="scheduleLineModule">
                      Memo
                    </button>
                  </div>
                  <div class="scheduleInnerModuleDesc">
                    <div class="scheduleClassNameModuleDesc">
                      {{ moduleRoom.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- user bar -->

        <div class="usersContainer">
          <div class="usersContainerStyles">
            <div class="usersContainerInner">
              <div class="tutorheader">
                <div class="tutorheader2">
                  <i
                    class="fas fa-graduation-cap"
                    style="font-size: 20px; color: #c34ffd"
                  ></i>
                </div>
                <div class="tutorheaderText">Tutors</div>
              </div>

              <div
                class="tutorContainer"
                (click)="
                  openTutor(chatList[0].name, chatList[0].profilePicture)
                "
              >
                <img
                  class="tutorImg"
                  (click)="
                    openTutor(chatList[0].name, chatList[0].profilePicture)
                  "
                  src="{{ chatList[0].profilePicture }}"
                />
                <div
                  class="tutorName"
                  (click)="
                    openTutor(chatList[0].name, chatList[0].profilePicture)
                  "
                >
                  {{ chatList[0].name }}
                </div>
              </div>

              <div class="line1"></div>

              <div class="classHeader">Classmates</div>

              <div class="usersList">
                <div
                  class="userInfoContainer"
                  (click)="
                    openClass(chatList[1].name, chatList[1].profilePicture)
                  "
                >
                  <div
                    (click)="
                      openClass(chatList[1].name, chatList[1].profilePicture)
                    "
                    class="userName"
                  >
                    {{ chatList[1].name }}
                  </div>
                  <img
                    (click)="
                      openClass(chatList[1].name, chatList[1].profilePicture)
                    "
                    class="userImg"
                    src="{{ chatList[1].profilePicture }}"
                  />
                  <div class="line2"></div>
                </div>

                <div
                  class="userInfoContainer"
                  (click)="
                    openClass(chatList[2].name, chatList[2].profilePicture)
                  "
                >
                  <div
                    (click)="
                      openClass(chatList[2].name, chatList[2].profilePicture)
                    "
                    class="userName"
                  >
                    {{ chatList[2].name }}
                  </div>
                  <img
                    (click)="
                      openClass(chatList[2].name, chatList[2].profilePicture)
                    "
                    class="userImg"
                    src="{{ chatList[2].profilePicture }}"
                  />
                  <div class="line2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- =================================================tutor chat page====================================== -->

      <div class="tutorPage" style="display: flex" *ngIf="tutorPage">
        <div class="requestContainer" *ngIf="request">
          <div class="requestBack">
            <div class="requestTitle">Request Tutor?</div>
            <div class="requestText">
              Name: James Payne<br />Module: COS 330
            </div>

            <div class="requestInput">
              <textarea
                type="text"
                class="requestTextInput"
                placeholder="{{ tutorChat.request.description }}"
              ></textarea>
            </div>

            <button class="requestCancelBtn" (click)="requestChange()">
              Cancel
            </button>

            <button class="requestAcceptBtn" (click)="requestChange()">
              Request
            </button>
          </div>
        </div>

        <!-- //chat stuff -->
        <div class="roomHeader" *ngIf="!request">
          <div class="headerInfoContainer">
            <div class="fileContainer">
              <div class="roomTitle">{{ tutorName }}</div>
            </div>
          </div>
          <div class="headerline"></div>
        </div>
        <!-- app.component.html -->

        <div class="messagesDM" *ngIf="!request">
          <div class="messagesContainer">
            <div class="messageContainerRequest">
              <div class="myMessageImg">
                <img
                  class="myUserImg"
                  src="{{ tutorChat.request.profilePicture }}"
                />
              </div>
              <div class="myMessageName">{{ tutorChat.request.from }}</div>

              <div class="requestNoti">
                <div class="requestNotiInner">
                  <div class="requestNotiTitle">Request Made:</div>
                  <div class="requestNotiModule">COS 330</div>
                  <div class="requestNotiText">
                    {{ tutorChat.request.description }}
                  </div>
                </div>
              </div>

              <div class="myMessageTime" style="margin-top: 3px">
                {{ tutorChat.request.date }}
              </div>
            </div>
            <div *ngFor="let chat of tutorChat.messages">
              <div
                class="messageContainer2"
                *ngIf="chat.from !== 'Julianna Venter'"
              >
                <div class="messageImg">
                  <img class="userImg" src="{{ chat.profilePicture }}" />
                </div>

                <div class="messageName">{{ chat.from }}</div>
                <div class="messageText">
                  {{ chat.message }}
                </div>
                <div class="messageTime">{{ chat.date }}</div>
              </div>

              <div
                class="myMessageContainer2"
                *ngIf="chat.from === 'Julianna Venter'"
              >
                <div class="myMessageImg">
                  <img class="myUserImg" src="{{ chat.profilePicture }}" />
                </div>
                <div class="myMessageName">{{ chat.from }}</div>
                <div class="myMessageText">
                  {{ chat.message }}
                </div>
                <div class="myMessageTime">{{ chat.date }}</div>
              </div>
            </div>
          </div>
        </div>

        <!-- message bar -->

        <div class="messageBar">
          <div class="messageBarInner"></div>
          <div class="messageIcons">
            <div class="messageIconInner"></div>
            <div class="messageIconContainer">
              <!-- <div class="messageIcon">
                <i
                  class="fas fa-plus-circle"
                  style="width: 19px; height: 19px; color: #00355c"
                ></i>
              </div> -->
              <div class="messageIcon">
                <i
                  class="fas fa-paper-plane"
                  style="width: 16.62px; height: 16.62px; color: #00355c"
                  (click)="sendTutorMessage()"
                ></i>
              </div>
            </div>
          </div>
          <input
            id="tutorMessage"
            type="text"
            class="messageInputText"
            placeholder="Message..."
          />
        </div>
      </div>

      <!-- ========================================classmate chat page====================================== -->

      <div class="tutorPage" *ngIf="classPage">
        <!-- //chat stuff -->
        <div class="roomHeader">
          <div class="headerInfoContainer">
            <div class="fileContainer">
              <div class="roomTitle">{{ className }}</div>
            </div>
          </div>
          <div class="headerline"></div>
        </div>

        <div class="messagesDM">
          <div class="messagesContainer">
            <div *ngFor="let chat of classChat.messages">
              <div
                class="messageContainer2"
                *ngIf="chat.from !== 'Julianna Venter'"
              >
                <div class="messageImg">
                  <img class="userImg" src="{{ classUrl }}" />
                </div>

                <div class="messageName">{{ className }}</div>
                <div class="messageText">
                  {{ chat.message }}
                </div>
                <div class="messageTime">{{ chat.date }}</div>
              </div>

              <div
                class="myMessageContainer2"
                *ngIf="chat.from === 'Julianna Venter'"
              >
                <div class="myMessageImg">
                  <img class="myUserImg" src="{{ chat.profilePicture }}" />
                </div>
                <div class="myMessageName">{{ chat.from }}</div>
                <div class="myMessageText">
                  {{ chat.message }}
                </div>
                <div class="myMessageTime">{{ chat.date }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- message bar -->

        <div class="messageBar">
          <div class="messageBarInner"></div>
          <div class="messageIcons">
            <div class="messageIconInner"></div>
            <div class="messageIconContainer">
              <!-- <div class="messageIcon">
                <i
                  class="fas fa-plus-circle"
                  style="width: 19px; height: 19px; color: #00355c"
                ></i>
              </div> -->
              <div class="messageIcon">
                <i
                  class="fas fa-paper-plane"
                  style="width: 16.62px; height: 16.62px; color: #00355c"
                  (click)="sendClassMessage()"
                ></i>
              </div>
            </div>
          </div>
          <input
            id="classMessage"
            type="text"
            class="messageInputText"
            placeholder="Message..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
