

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffffff;
    font-family: CustomFont;
}

.menu{
    width: 25%;
    height: 100vh;
    background-color: #F0F5FF;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #00355C;
    width: 90%;
    height:50px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    h1{
        margin-left: 10px;
    }
    overflow: hidden;
}

.search{
    width: 90%;
    height:50px;
    background-color: #BFCDEE;
    margin-top: 15px;
    margin-bottom: 45px;
    border-radius: 10px;
    display: flex;
    align-self: center;
}

.input{
    width: 85%;
    height: 90%;
    border: none;
    background-color: #BFCDEE;
    font-size: medium;
    font-family: CustomFont;
    margin-left: 20px;
    color: #333333;

}
input::placeholder {
    color: #00355C;
}

input:focus {
    outline: none; /* Remove the default focus outline */
    border: none;  /* Remove the border */
}
.searchIcon{
    width: 15%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #00355C; 
    font-size: 20px;
}

.searchIcon:hover{
    cursor: pointer;
    color: #0572C0;
}

.module{
    width: 90%;
    height:50px;
    background-color: #D5E2FF;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    color: #333333;
    font-size: 16px;
    transition: 0.3s;
}

.module:hover{
    transform: translateY(-5px);
}
.moduleName{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.fa{
    font-size: 25px;
}

.moduleIcons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-right: 20px;
}

.moduleIcons i:hover{
    cursor: pointer;
    color: #0572C0;

}



.content{
    width: 75%;
    height: 100vh;
}

.headings{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
}

.Options{
    width: 70%;
    height: 60%;
    border-bottom-left-radius: 100px;
    background-color: #F0F5FF;
    display: flex;
    justify-content: space-between;
}

.Option{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 20px;    
}

.Option:hover{
    cursor: pointer;
    color: #0572C0;
}

.Option label{
    padding-left: 10px;
}

.Option label:hover{
cursor: pointer;
color: #0572C0;
}
.scrollable{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.Activity_container{
    width: 80%;
    margin-left: 20%;
}

.Chat_container{
    width: 50%;
    margin-left: 20%;

}

.Schedule_container{
    width: 80%;
    margin-left: 10%;
    height: 100%;
}

.TopicTitle{
    font-size: 30px;
    color:#0572C0;
    margin-left: 30px;
    margin-bottom: 20px;
}

.TopicTitle2{
    font-size: 30px;
    color:#0572C0;
    margin-bottom: 20px;
}




.record{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #333333;
}

.recordDay{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: #333333;
}

.icon{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}
.icon label{
    font-size: 12px;
    margin-top: 12px;
}
.border{
    width: 4px;
    height: 100%;
    background-color: #0572C0;
}

.border2{
    height: 2px;
    width: 80%;
    padding-left: 10px;
    background-color: #E5E5E5;
    margin-top: 20px;
}
.border3{
    height: 2px;
    width: 100%;
    background-color: #E5E5E5;
    margin-top: 20px;
}

.border4{
    width: 90%;
    height: 2px;
    margin-left: 10%;
    background-color: #E5E5E5;
}

.border5{
    width: 100%;
    height: 2px;
    background-color: #E5E5E5;
}
.dayText{
    font-size: larger;
    color: #333333;
    padding-left: 25px;
    width: 90%;
}

.recordText{
    font-size: larger;
    color: #333333;
    padding-left: 25px;
    width: 90%;
    font-size: 16px;
}

.recordText label{
    font-size: 12px;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hide scrollbars in Firefox */
/* Note: Firefox uses a different approach, and the following style is used to hide the scrollbars */
html {
    scrollbar-width: none;
}

.chat {
    width: 90%;
    margin-left: 10%;
    height: 90px;
    display: flex;
    align-items: center;
    color: #333333;
}

.chat:hover,.profile:hover{
    cursor: pointer;
    
}
.profile{
    width: 75px;
    overflow: hidden;
    height: 75px;
    display:  flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.Calander{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.Day{
    width: 20%;
    border-right: #E5E5E5 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Day Label{
    font-size: 20px;

}

.days{
    width: 100%;
    display: flex;
    justify-content:space-around;
    font-size: 20px;
    padding: 5px;
}

.class{
    width: 90%;
    height: 80px;
    background-color: #F0F5FF;
    border-radius: 10px;
    margin-bottom: 5px;
}

.noclass{
    width: 90%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 5px;
}

